<header [style.background-image]="backgroundStyle">
        <div class="main">
            <div class="logo">
                <img src="../../assets/images/2611318f-d326-4f5c-9a16-c705a5dfdacc.png" alt="">
            </div>
        </div>
        <div class="title">
                <h1 style="text-align: center; color:white; padding-top:300px; text-transform: uppercase;" *ngIf="this.loaded">{{this.track.name}}</h1>
            </div>
            <fa name="pause" *ngIf="isPlayed == true" (click)="stopTrack()" style="color:white; font-size:25px; position:relative; left:50%; cursor: pointer;"></fa>
            <fa name="play" *ngIf="isPlayed == false" (click)="playTrack(this.track)" style="color:white; font-size:25px; position:relative; left:50%; cursor: pointer;"></fa>
            <div class="create" *appHasRole="['Admin']">
                    Can be seen only by admin
                    <h4>Insert artist</h4>
                    <div class="insertartist">
                        <div class="forms">
                            <form>
                                <label for="arname"><b>Artist name</b></label>
                                <input type="text" [(ngModel)]="artistname" id="artistname" placeholder="Enter artistname" name="artistname" required>

                                <label for="aruri"><b>Artist Image</b></label>
                                <input type="text" [(ngModel)]="artisturi" id="artisturi" placeholder="Enter artisturi" name="artisturi" required>
                                <input type="submit" (click)="createArtistToTrack()" value="SUBMIT">
                            </form>
                          </div>
                    </div>
                  </div>
    </header>