<header>
  <div class="main">
      <div class="logo">
        <img src="../../assets/images/39bec40e-25eb-4a68-b06d-9c8a080c0230.png" alt="">
      </div>
      <ul>
        <li class="active"><a href="#">Home</a></li>
        <li><a (click)="goToAlbums();">Albums</a></li>
        <li><a (click)="goToTracks();">Tracks</a></li>
        <li><a (click)="goToArtists();">Artists</a></li>
      </ul>
    </div>
  <div>
    <div class="search-container">
        <form>
            <input type="text" [(ngModel)]="artistName" placeholder="Insert artist name..." name="search">
            <button type="submit"><fa name="search" (click)="getArtistByName()"></fa></button>
        </form>
    </div>
  <h2>Current available artists</h2>
  <div class="row" style="position:absolute; top:35%;">
      <div *ngFor="let artist of this.allArtists" style="padding-left:50px;">
          <!--<button (click)="insertAlbumToPlaylist(album)">Add</button>-->
          <h2 style="position: relative; font-size:20px; top:-10%; left: 5%;">{{artist.name}}</h2>
          <img src={{artist.imgUri}} alt="" width="250" height="250" (click)="getArtistContent(artist)">
          
      </div>
  </div>
</div>
<div class="numbers" style="cursor:pointer; display:flex; position:absolute; left:40%; top:80%; color:white; font-size:30px;">
      <div *ngFor="let index of this.pages">
          <ul >
              <li (click)="GetArtists(index)">{{index}}</li>
          </ul>
      </div>
  </div>  
</header>

