<header [style.background-image]="backgroundStyle">
        <div class="main">
            <div class="logo">
                <img src="../../assets/images/39bec40e-25eb-4a68-b06d-9c8a080c0230.png" alt="">
            </div>
        </div>
        <ul>
            <li><a href="/artistdescription/{{artist.id}}">PLAYLIST</a></li>
            <li><a (click)="insertArtistToPlaylist(artist)" style="cursor: pointer;">INSERT TO PLAYLIST</a></li>
            <li class="back"><a href="/after">BACK</a></li>
        </ul>
        <div class="title">
            <h1 style="text-transform: uppercase;">{{this.artist.name}}</h1>
        </div>
        <table id="trackpart">
                <tr>
                    <th></th>
                    <th></th>
                    <th>Track name</th>
                    <th>Love it?</th>
                </tr> 
                <tr *ngFor="let track of tracks | slice:0:5; let i = index">
                    <th>{{i}}</th>
                    <th>
                        <fa name="play" *ngIf="!isPlayed" (click)="playTrack(track)" style="color:red; font-size:25px;"></fa>
                        <fa name="stop" *ngIf="isPlayed" (click)="stopTrack()" style="color:red; font-size:25px;"></fa>
                    </th>
                    <th>{{track.name}}</th>
                    <th><fa name="heart" (click)="addToPlaylist(track)" style="color:red; font-size:25px;"></fa></th>
                </tr>
            </table>
    </header>