<header [style.background-image]="backgroundStyle">
        <div class="main">
            <div class="logo">
                <img src="../../assets/images/2611318f-d326-4f5c-9a16-c705a5dfdacc.png" alt="">
            </div>
        </div>
        <ul>
            <li><a href="/artistdescription/{{artist.id}}">PLAYLIST</a></li>
            <li><a (click)="insertArtistToPlaylist(artist)" style="cursor: pointer;">INSERT TO PLAYLIST</a></li>
            <li class="back"><a href="/after">BACK</a></li>
        </ul>
        <div class="title">
            <h1 style="text-transform: uppercase;">{{this.artist.name}}</h1>
        </div>

        
        <table class="table table-hover">
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th style="color:white;">Track Name</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let track of tracks | slice:0:5; let i = index" [class.active]="i == selectedRow">
                    <td style="color:white;">{{i}}</td>
                    <td (click)="setClickedRow(i)">
                        <button (click)="isPlayed == true ? stopTrack(track) : playTrack(track)" class='button'></button>
                    </td>
                    <td style="color:white">{{track.name}}</td>
                    <td><fa name="heart" (click)="addToPlaylist(track)" style="color:red; font-size:25px;"></fa></td>
                </tr>
            </tbody>
        </table>
    </header>