<header>
    <div class="main">
      <div class="logo">
        <img src="../../assets/images/2611318f-d326-4f5c-9a16-c705a5dfdacc.png" alt="">
      </div>
      <ul>
        <li class="active"><a href="#">Home</a></li>
      </ul>
    </div>
    <div class="forms">
      <form>
          <label for="uname"><b>Username</b></label>
          <input type="text" [(ngModel)]="username" id="username" placeholder="Enter Username" name="uname" required>

          <label for="uemail"><b>Email</b></label>
          <input type="text" [(ngModel)]="useremail" id="useremail" placeholder="Enter Username" name="useremail" required>

          <label for="psw"><b>Password</b></label>
          <input type="password" [(ngModel)]="password" id="password" placeholder="Enter Password" name="psw" required>
      
          <input type="submit" (click)="registerUser()" value="SIGN UP">
      </form>
    </div>
  </header>