<header>
    <div class="main">
        <div class="logo">
          <img src="../../assets/images/2611318f-d326-4f5c-9a16-c705a5dfdacc.png" alt="">
        </div>
        <ul>
            <li class="active"><a href="/after">Home</a></li>
            <li><a (click)="goToAlbums();">Albums</a></li>
            <li><a (click)="goToTracks();">Tracks</a></li>
            <li><a (click)="goToArtists();">Artists</a></li>
        </ul>
      </div>
    <div>
    <h2>Current available albums</h2>

    <div class="search-container">
        <form>
          <input type="text" [(ngModel)]="albumName" placeholder="Insert album name..." name="search">
          <button type="submit"><fa name="search" (click)="getAlbumByName()"></fa></button>
        </form>
      </div>

    <div class="row" style="position:absolute; top:35%;">
        <div class="imag" *ngFor="let album of this.allAlbums" style="padding-left:50px;">
            <!--<button (click)="insertAlbumToPlaylist(album)">Add</button>-->
            <h2 style="position: relative; font-size:20px; top:-10%; left: 5%;">{{album.name}}</h2>
            <img src={{album.imgUri}} alt="" width="250" height="250" (click)="getAlbumContent(album)">
            
        </div>
    </div>
</div>
<div class="numbers" style="cursor:pointer; display:flex; position:absolute; left:40%; top:80%; color:white; font-size:30px;">
        <div *ngFor="let index of this.pages">
            <ul >
                <li (click)="GetAlbums(index)">{{index}}</li>
            </ul>
        </div>
    </div>  
</header>

