<header [style.background-image]="backgroundStyle">
    <div class="main">
        <div class="logo">
            <img src="../../assets/images/39bec40e-25eb-4a68-b06d-9c8a080c0230.png" alt="">
        </div>
        <ul>
            <li><a href="/albumdescription/{{album.id}}">Overview</a></li>
            <li><a href="/albumdescription/{{album.id}}">About</a></li>
        </ul>
    </div>
    <div class="title">
        <h1>{{this.album.name}}</h1>
    </div>
    <table id="trackpart">
        <tr>
            <th></th>
            <th></th>
            <th>Track name</th>
            <th>Love it?</th>
        </tr> 
        <tr *ngFor="let track of tracks">
            <th>1</th>
            <th>Play</th>
            <th>{{track.name}}</th>
            <th><i class="fa fa-car" style="font-size:60px;color:red;"></i></th>
        </tr>
    </table>
    
</header>