<header [style.background-image]="backgroundStyle">
    <div class="main">
        <div class="logo">
            <img src="../../assets/images/39bec40e-25eb-4a68-b06d-9c8a080c0230.png" alt="">
        </div>
        <ul>
            <li><a href="/albumdescription/{{this.id}}">OVERVIEW</a></li>
            <li><a style="cursor: pointer;" (click)="insertAlbumToPlaylist(album)">ADD TO PLAYLIST</a></li>
            <li><a style="cursor: pointer;" routerLink="/after">BACK</a></li>
        </ul>
    </div>
    <div class="title">
        <h1 style="text-transform: uppercase;">{{this.album.name}}</h1>
    </div>

    <div class="create" *appHasRole="['Admin']">
            Can be seen only by admin
            <h4>Insert track</h4>
            <div class="inserttrack">
                <div class="forms">
                    <form>
                        <label for="tname"><b>Track name</b></label>
                        <input type="text" [(ngModel)]="trackname" id="trackname" placeholder="Enter trackname" name="trackname" required>
      
                        <label for="tpreview"><b>Track preview</b></label>
                        <input type="text" [(ngModel)]="trackpreview" id="trackpreview" placeholder="Enter trackpreview" name="trackpreview" accept="image/*" required>

                        <label for="thref"><b>Track href</b></label>
                        <input type="text" [(ngModel)]="trackhref" id="trackhref" placeholder="Enter trackhref" name="trackhref" required>
                        <input type="submit" (click)="createNewTrack()" value="SUBMIT">
                    </form>
                  </div>
            </div>
          </div>
    <!--<table>
        <tr>
            <th></th>
            <th></th>
            <th>Track name</th>
            <th>Love it?</th>
        </tr>
        <tbody> 
        <tr *ngFor="let track of this.tracks | slice:0:5; let i = index">
            <th>{{i}}</th>
            <th>
                <fa name="play" *ngIf="!isPlayed" (click)="playTrack(track)" style="color:red; font-size:25px;"></fa>
                <fa name="stop" *ngIf="isPlayed" (click)="stopTrack()" style="color:red; font-size:25px;"></fa>
            </th>
            <th>{{track.name}}</th>
            <th><fa name="heart" (click)="addToPlaylist(track)" style="color:red; font-size:25px;"></fa></th>
        </tr>
        </tbody>
    </table>-->

    <table class="table table-hover">
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th style="color:white;">Track Name</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let track of tracks | slice:0:5; let i = index" [class.active]="i == selectedRow">
                    <td style="color:white;">{{i}}</td>
                    <td (click)="setClickedRow(i)"> 
                        <button (click)="isPlayed == true ? stopTrack(track) : playTrack(track)" class='button'></button>
                    </td>
                    <td style="color:white">{{track.name}}</td>
                    <td><fa name="heart" (click)="addToPlaylist(track)" style="color:red; font-size:25px;"></fa></td>
                </tr>
            </tbody>
        </table>

</header>

