<header>
    <div class="main">
      <div class="logo">
        <img src="../../assets/images/2611318f-d326-4f5c-9a16-c705a5dfdacc.png" alt="">
      </div>
      <ul>
        <li class="active"><a href="#">Home</a></li>
      </ul>
    </div>

    <div class="text-box">
      <h1 class="heading-primary">
        <span class="heading-primary-main">SP SPOTIFY</span>
        <span class="heading-primary-sub">ENJOY YOUR FREE MUSIC</span>
      </h1>
    </div>

    <div class="button">
      <a href="/login" class="btn">LOGIN</a>
      <a href="/reg" class="btn">SIGN UP</a>
    </div>
  </header>



