<header>
    <div class="main">
      <div class="logo">
        <img src="../../assets/images/39bec40e-25eb-4a68-b06d-9c8a080c0230.png" alt="">
      </div>
      <ul>
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">Albums</a></li>
        <li><a href="#">Tracks</a></li>
        <li><a href="#">Artists</a></li>
      </ul>
    </div>
    <div class="playlist">
      <div class="insideplaylist">
        <ul>
            <li (click)="setAlbumOption(); displayPlaylistAlbums();">My Albums</li>
            <li (click)="setTrackOption(); displayPlaylistTracks();">My Tracks</li>
            <li (click)="setArtistOption()">My Artists</li>
        </ul>
        <div class="content" *ngIf="!albumOption && !trackOption && !artistOption">
          This is your playlist
          .Access it by choosing what you want to display
        </div>
        <div class="content" *ngIf="albumOption == true">
          <div class="a" *ngFor="let album of playlistAlbums">
            <img src="{{album.imgUri}}" alt="" height="35" width="35">
            <fa name="plus" (click)="deleteAlbumFromPlaylist(album)" style="margin-left:10px;"></fa>
            <b>{{album.name}}</b>
          </div>
        </div>
        <div class="content" *ngIf="trackOption == true">
          <div class="t" *ngFor="let track of playlistTracks">
            <img src="{{track.href}}" alt="" height="35" width="35">
            <fa name="plus" (click)="deleteTrackFromPlaylist(track)" style="margin-left:10px;"></fa>
            <b>{{track.name}}</b>
          </div>
        </div>
        <div class="content" *ngIf="artistOption == true">
          Artists here
        </div>
        <footer>
            <button (click)="displayNextAlbums()" style="background: transparent; background-size: cover;">ButtonNext</button>
            <button (click)="displayPreviousAlbums()">ButtonNext</button>
        </footer>
      </div>
    </div>
      <div id="slideshow" (click)="goToAlbums()">
        <div><h3>If you want to see all albums, click me!</h3></div>
        <div>
          <img src="{{this.topAlbums[0].imgUri}}" alt="" height="140" width="140">
        </div>
        <div>
          <img src="{{this.topAlbums[1].imgUri}}" alt="" height="140" width="140">
        </div>
        <div>
          <img src="{{this.topAlbums[2].imgUri}}" alt="" height="140" width="140">
        </div>
      </div>

      <div id="slideshow1" (click)="goToTracks()">
          <div><h3>If you want to see all tracks, click me!</h3></div>
          <div>
            <img src="{{this.topTracks[0].href}}" alt="" height="140" width="140">
          </div>
          <div>
            <img src="{{this.topTracks[1].href}}" alt="" height="140" width="140">
          </div>
          <div>
            <img src="{{this.topTracks[2].href}}" alt="" height="140" width="140">
          </div>
        </div>

        <div id="slideshow2" (click)="goToArtists()">
            <div><h3>If you want to see all tracks, click me!</h3></div>
            <div>
              <img src="https://image.freepik.com/free-vector/circle-made-of-music-instruments_23-2147509304.jpg}" alt="" height="140" width="140">
            </div>
            <div>
              <img src="https://image.freepik.com/free-vector/circle-made-of-music-instruments_23-2147509304.jpg" alt="" height="140" width="140">
            </div>
            <div>
              <img src="https://image.freepik.com/free-vector/circle-made-of-music-instruments_23-2147509304.jpg" alt="" height="140" width="140">
            </div>
          </div>
      <div class="album">
        <h3>Top Albums</h3>
        <app-albums *ngFor="let album of topAlbums | slice:0:5" [album]="album" (click)="generateAlbumContent(album)"></app-albums>
      </div>
      <div class="track">
        <h3>Top tracks</h3>
        <app-tracks *ngFor="let track of topTracks | slice:0:5" [track]="track" (click)="generateTrackContent(track)"></app-tracks>
      </div>
      <div class="artist">
        <h3>Top artists</h3>
        <app-artists *ngFor="let artist of topArtists" [artist]="artist" (click)="generateArtistContent(artist)"></app-artists>
      </div>
  </header>