<header>
    <div class="main">
      <div class="logo">
        <img src="../../assets/images/2611318f-d326-4f5c-9a16-c705a5dfdacc.png" alt="">
      </div>
      <ul>
        <li class="active"><a href="/after">Home</a></li>
        <li><a (click)="goToAlbums();">Albums</a></li>
        <li><a (click)="goToTracks();">Tracks</a></li>
        <li><a (click)="goToArtists();">Artists</a></li>
        <li><a class="welcome" style="position: absolute; left:80%; top:3%;" href="/profile">Welcome, {{this.loggedUser}}</a></li>
      </ul>
    </div>


    <div class="playlist">
      <div class="insideplaylist">
        <ul>
            <li (click)="setAlbumOption(); displayPlaylistAlbums();">My Albums</li>
            <li (click)="setTrackOption(); displayPlaylistTracks();">My Tracks</li>
            <li (click)="setArtistOption(); displayPlaylistArtists();">My Artists</li>
        </ul>

        <!-- Playlist section -->
        <div class="content" *ngIf="!albumOption && !trackOption && !artistOption">
          <h3 style="color:white; text-align: center; margin-top:150px;">Welcome!<br><br>This is your playlist.<br><br>Please choose what you want to see from it.</h3>
        </div>

        <!-- Albums section from playlist -->
        <div class="content" *ngIf="albumOption == true">
          <div class="a" style="margin-top:20px;" *ngFor="let album of playlistAlbums">
            <img src="{{album.imgUri}}" alt="" height="35" width="35" (click)="generateAlbumContent(album)">
            <fa name="close" (click)="deleteAlbumFromPlaylist(album)" style="margin-left:10px;"></fa>
            <b style="color:white;">{{album.name}}</b>
            <fa name="chevron-circle-right" (click)="generateAlbumContent(album)" style="color:black; font-size:25px; position: absolute; left:80%;"></fa>
          </div>
          <ul>
            <li class="previousBtn" (click)="displayPreviousAlbums()">Previous</li>
            <li class="nextBtn" (click)="displayNextAlbums()">Next</li>
          </ul>
        </div>

        <!-- Track section from playlist -->
        <div class="content" *ngIf="trackOption == true">
          <div class="t" style="margin-top:20px;" *ngFor="let track of playlistTracks">
            <img src="{{track.href}}" alt="" height="35" width="35" (click)="generateTrackContent(track)">
            <fa name="close" (click)="deleteTrackFromPlaylist(track)" style="margin-left:10px;"></fa>
            <b style="color:white;">{{track.name}}</b>
            <fa name="play" *ngIf="isPlayed==false" (click)="generateTrackContent(track)" style="color:black; font-size:25px; position: absolute; left:80%;"></fa>
          </div>
          <ul>
            <li class="previousBtn" (click)="displayPreviousTracks()">Previous</li>
            <li class="nextBtn" (click)="displayNextTracks()">Next</li>
          </ul>
        </div>

        <!-- Artist section from playlist -->
        <div class="content" *ngIf="artistOption == true">
          <div class="a" style="margin-top:20px;" *ngFor="let artist of playlistArtists">
            <img src="{{artist.imgUri}}" alt="" height="35" width="35" (click)="generateArtistContent(artist)">
            <fa name="close" (click)="deleteArtistFromPlaylist(artist)" style="margin-left:10px;"></fa>
            <b style="color:white;">{{artist.name}}</b>
            <fa name="chevron-circle-right" style="color:black; font-size:25px; position: absolute; left:80%;" (click)="generateArtistContent(artist)"></fa>
          </div>
          <ul>
            <li class="previousBtn" (click)="displayPreviousArtists()">Previous</li>
            <li class="nextBtn" (click)="displayNextArtists()">Next</li>
          </ul>
        </div>

        <footer>
        </footer>
      </div>
    </div>

    <!-- Top albums, artists, tracks -->
    <div class="tops">
      <div class="album">
        <h3>Top Albums</h3>
        <app-albums *ngFor="let album of topAlbums | slice:0:5" [album]="album" (click)="generateAlbumContent(album)"></app-albums>
      </div>
      <div class="track">
        <h3>Top tracks</h3>
        <app-tracks *ngFor="let track of topTracks | slice:0:5" [track]="track" (click)="generateTrackContent(track)"></app-tracks>
      </div>
      <div class="artist">
        <h3>Top artists</h3>
        <app-artists *ngFor="let artist of topArtists | slice:0:5" [artist]="artist" (click)="generateArtistContent(artist)"></app-artists>
      </div>
      </div>
  </header>